/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #ffffff;
    text-shadow: none;
}

::selection {
    background: #ffffff;
    text-shadow: none;
}



fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #3f6442;
    padding: 0.2em 0;
}
html{
	box-sizing:border-box;
}
*, *::before, *::after{
	box-sizing:inherit;
}

header {
    width: 100%;
    background: #ffffff;
    
    left: 0;
    top: 0;
    padding-bottom: 0px;
    z-index: 2;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}

body {
    width: 100%;
    background: #3e494b;
}

.header_logo {
    font-family: 'Revalia', cursive;    
    font-style: normal;
    font-weight: normal;
    cursor: pointer;
    margin-top: 1px;
    font-size: 30px;
    position: relative;
    margin-left: 100px;
}

.header_menu {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    cursor: pointer;
    margin-top: 10px;
    font-size: 30px;
}

a {
    padding-left: 42px;
}

b{
    margin-left: 700px;
}

.intro_img
{
position: absolute;
width: 450px;
height: 600px;
margin-top: 100px;
background: url(image.png);
}

.intro_img1
{
    margin-left:1350px;
    position: absolute;
    width: 450px;
    height: 500px;
    margin-top: 10px;
    background: url(image.png);
}

.intro_img2
{
    margin-right:2000px;
    position: absolute;
    width: 450px;
    height: 600px;  
    margin-top: 400px;
    background: url(image.png);
}

.intro_img3
{
    
    position: absolute;
    width: 450px;
    height: 600px;  
    margin-left: 1400px;
    background: url(image.png);
}

.intro_img4
{
    
    position: absolute;
    width: 450px;
    height: 600px;  
    margin-left: 1400px;
    background: url(image.png);
}

.intro_img5
{
    
    position: absolute;
    width: 450px;
    height: 600px;  
    margin-left: 1400px;
    background: url(image.png);

}

.intro_img6
{
    
    position: absolute;
    width: 450px;
    height: 600px;  
    margin-left: 1400px;
    background: url(image.png);

}

.intro_img7
{
    
    position: absolute;
    width: 450px;
    height: 600px;  
    margin-left: 1400px;
    background: url(image.png);

}

p {
    color:#000;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 100px;
}


h4 {
    font-size: 50px;
    text-decoration: underline;
    margin-top: 30px;
    margin-bottom: 30px;
    
    justify-content: center;
} 
h6 {
    font-size: 32px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;

}   
h7
{
    display: flex;
    justify-content: center;
}


.intro {
    
position: absolute;
width: 2096px;
height: 1000px;
background: #657257;
}



.intro_right {
    margin-right: 130px;
    margin-left: 30px;
    margin-bottom: 146px;
}

.intro_title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 140px;
    color: #000000;
    margin-bottom: 10px;
}

.intro_text {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    font-style: normal;
    font-weight: 1000;
    font-size: 32px;
    line-height: 39px;
    color: #000000; 
    margin-left: 500px;
    height: 1300px;
    margin-top: 5px;
    width: 1300px;
    
}

.about {
    
    background: #cc6666;
    height: 100px;
    width: 209px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.wrapper {
    max-width: 1150px;
    
}



.about_block {
    width: 540px;
   
}

.about_title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 40px;
    
    color: #000000;
    margin-top: 119px;
    margin-bottom: 50px;
}

.about_text {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    font-style: normal;
    font-weight: 1000;
    font-size: 32px;
    line-height: 39px;
    color: #000000; 
    margin-left: 50px;
    height: 1300px;
    margin-top: 800px;
    width: 1300px;
    
}

.projects {
    
    background-color: #859753;
    margin-top: 783px;
    padding-bottom: 950px;
}



.projects_block {
    padding-top: 100px;
    padding-bottom: 100px;
}

.projects_text
{
    font-family: 'Roboto', sans-serif;
    
    font-style: normal;
    font-weight: 1000;
    font-size: 32px;
    line-height: 39px;
    color: #000000; 
    margin-left: 600px;
    height: 1300px;
    margin-top: 2800px;
    width: 1300px;  
}

.skills {
    background: #3f6442;
}

.skills_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills_img {
    width: 555px;
    height: 450px;
    margin-top: 102px;
    margin-bottom: 101px;
}

.skills_left {
    width: 445px;
    margin-right: 150px;
}

.skills_title {
    margin-top: 200px;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
}

.skills_text
{
    font-family: 'Roboto', sans-serif; 
    font-style: normal;
    position: absolute;
    font-weight: 1000;
    font-size: 32px;
    line-height: 39px;
    color: #000000; 
    left: 10px; 
    height: 1300px; 
    margin-top: 60px;
    width: 1300px;  
    height: 400px;
}

.skill {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.skill_1 {
    position: relative;
}

.skill_1::before {
    content: " ";
    width: 445px;
    height: 4px;
    background-color: #3f6442;
    position: absolute;
    bottom: 0;
    left: 0;
}

.skill_1::after {
    content: " ";
    width: 330px;
    height: 4px;
    background-color: #3f6442;
    position: absolute;
    bottom: 0;
    left: 0;
}

.skill_2 {
    position: relative;
}

.skill_2::before {
    content: " ";
    width: 445px;
    height: 4px;
    background-color: #3f6442;
    position: absolute;
    bottom: 0;
    left: 0;
}

.skill_2::after {
    content: " ";
    width: 120px;
    height: 4px;
    background-color: #3f6442;
    position: absolute;
    bottom: 0;
    left: 0;
}

.skill_3 {
    position: relative;
}

.skill_3::before {
    content: " ";
    width: 445px;
    height: 4px;
    background-color: #3f6442;
    position: absolute;
    bottom: 0;
    left: 0;
}

.skill_3::after {
    content: " ";
    width: 210px;
    height: 4px;
    background-color: #3f6442;
    position: absolute;
    bottom: 0;
    left: 0;
}



.process_block {
    width: 540px;
    
}



.process_text {
    font-family: 'Roboto', sans-serif; 
    
    position: absolute;
    font-weight: 1000;
    font-size: 32px;
    line-height: 39px;
    color: #000000; 
    left: 10px; 
    height: 1100px; 
    margin-top: 1900px;
    width: 1300px;  
    
}

.process_video {
    width: 1100px;
    margin-bottom: 100px;
}

.send
{
    background-color: #3f6442;
    margin-top: 5600px;
    padding-bottom: 3000px;
    margin-bottom: 4000px;
}

.ivanchik
{
    margin-bottom: 300px;
 
}

.send_wrapper
{
    margin-bottom: 1300px;
}



.send_text {
    font-family: 'Roboto', sans-serif; 
    
    position: absolute;
    font-weight: 1000;
    font-size: 32px;
    line-height: 39px;
    color: #000000; 
    left: 10px; 
    height: 1100px; 
    margin-top: 30px;
    width: 1300px;  
    
}

.send_text1 {
    font-family: 'Roboto', sans-serif; 
    
    position: absolute;
    font-weight: 1000;
    font-size: 32px;
    line-height: 39px;
    color: #000000; 
    left: 10px; 
    height: 1100px; 
    margin-top: 2300px;
    width: 1300px;  
    
}

.send_form
{
    margin-bottom: 500px;
    margin-top: 150px;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.form5 
{
    margin-top: 20px;
    background-color: #3f6442;
    font-family: 'Roboto', sans-serif;
}

.send_button
{
    font-family: 'Roboto', sans-serif;
    margin-top: 20px; 
    padding-left: 10px;
    padding-right: 10px;    
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #3f6442;
}

.formstyle
{
font-family: 'Roboto', sans-serif;  
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
background-color: #3f6442;
color: #5f5d5d;
border: 0;
}

.form1
{
    font-family: 'Roboto', sans-serif; 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.form2
{
    font-family: 'Roboto', sans-serif; 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.form3
{
    font-family: 'Roboto', sans-serif;  
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.form4
{
    font-family: 'Roboto', sans-serif; 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}



.gallery {
    display: flex;
    flex-direction: column;
}

.gallery_text
{
    font-family: 'Roboto', sans-serif; 
    
    position: absolute;
    font-weight: 1000;
    font-size: 32px;
    line-height: 39px;
    color: #000000; 
    left: 10px; 
    height: 1100px; 
    margin-top: 3400px;
    width: 1300px;  
    
}

.gallery_str {
    display: flex;
    width: 100%;
}

.gallery_img {
    width: 100%;
}

.lightzoom {
    width: 25%;
    margin: 0px;
    padding: 0px;
}

.intro_button
{
width: 225px;
height: 65px;
color:#ffffff;
background: #3f6442;
font-family: 'Roboto', sans-serif; 
margin-top: 60px;
margin-left:100px;
font-size:22px;
border:0;
transition: 500ms;
}

.modal 
{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;    
    height: 100%;
    background-color: #3f6442;
    z-index: 3;
}

.modal_content
{
    padding: 20px;
    margin: 7% auto;
    background-color: #eeeff1;
    width: 50%;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 2s;
}

.close
{
    font-family: 'Revalia', cursive;
    font-size: 48px;
    color: #34547A;
    float: right;
    cursor: pointer;
}
.modal_title
{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500px;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
    margin-top: 40px;
    margin-bottom: 40px;

}

.modal_button
{
    font-family: 'Roboto', sans-serif;
    width: 190px;
    height: 55px;
    border: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.15em;
    color: #ffffff;
    padding: 20px 19px;
    margin-bottom: 40px;
    background-color: #3f6442;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 320px;
}

.modal_wrapper
{
    margin-left: 50px;
}

.test
{
    transition-property: background-color;
    transition-duration: 2s;
    transition-property: margin-left;
    transition-duration: 2s;
    animation: w 6s infinite;
}

.intro_button:hover
{
    border-radius: 60px;
}

.header_logo::before 
{
  content: "";
  position: absolute;
  top: 0;
  left: -17px;
  width: 12px;
  height: 12px;
  border-radius: 5px;
  background-color: #3f6442;
  animation: updown 1.5s infinite;
}


.header_logo:hover::before 
{
    animation: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: -1;
    transition: 1000ms;
}

footer
{
background-color: #3f6442;
}

.footer_wrapper
{
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}


.footer_title
{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500px;
    font-size: 21px;
    line-height: 25px;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 20px;

}

.footer_text
{
    font-family: 'Kosugi Maru', sans-serif; 
    font-style: normal; 
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #fff;
    margin-bottom: 50px;
    
}

.footer_img
{
    width: 43.75px;
    height: 40px;
    margin-top: 56px;
    margin-bottom: 55px;
    margin-left: 22px;
}

.menu_item
{
    text-decoration: none;
    color: inherit;
}

.project_img
{
    width: 141px;
    height: 50px;
}













@keyframes updown
{
    0%
        {   
         top: 0 ;
        }
    50%
        {   
         top: 50px ;
        }
    100%
        {
        top: 0 ;
        }
}

@keyframes w
{
    0%
        {   
         font-size: 0 ;
        }
    50%
        {
        font-size: 10px ;
        }
    100%
        {
        font-size: 0 ;
        }
}
